.preview {
    max-height: calc(100vh - 48px - 30px);
    max-width: 900px;
    padding: 15px;
    margin: 0 auto;
    color: var(--text-color);
    background-color: transparent;
    display: none;
    overflow: scroll;
    font-family: var(--font-text);
}

.preview::before {
    padding-bottom: 100vh;
}

.preview.on {
    display: block;
}

/* titles */

.preview h1, .preview h2, .preview h3, .preview h4, .preview h5, .preview h6 {
    width: calc(100% - 20px);
    font-weight: 100;
    font-family: var(--font-title);
    color: var(--title-color);
    padding-top: 15px;
}

.preview h1, .preview h2 {
    border-bottom: 1px solid var(--border-light-color);
}

/* rules */
.preview hr {
    border: 0;
    border-bottom: 1px solid var(--border-light-color);
    width: calc(100% - 20px);
    margin-top: 30px;
    margin-bottom: 30px;
}

/* text effects */

.preview del:hover {
    text-decoration: none;
}

/* quotes */

.preview blockquote {
    border-left: 2px solid var(--border-light-color);
    padding-left: 15px;
}

.preview .quote-label {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    font-size: large;
    user-select: none;
    background-color: var(--background-color);
    padding: 0px 10px 0px 10px;
    border-radius: 50px;
}

.preview blockquote.quote-generic,
.preview blockquote.quote-blue,
.preview blockquote.quote-green,
.preview blockquote.quote-purple,
.preview blockquote.quote-yellow,
.preview blockquote.quote-red {
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    box-shadow: var(--shadow);
}

.preview blockquote.quote-generic {
    border: 1px solid var(--border-light-color);
    background-color: var(--background-color-3);
}

.preview blockquote.quote-blue {
    border: 1px solid var(--quote-blue);
    background-color: var(--quote-blue-bg);
}

.preview .quote-blue-label {
    color: var(--quote-blue);
}

.preview blockquote.quote-green {
    border: 1px solid var(--quote-green);
    background-color: var(--quote-green-bg);
}

.preview .quote-green-label {
    color: var(--quote-green);
}

.preview blockquote.quote-purple {
    border: 1px solid var(--quote-purple);
    background-color: var(--quote-purple-bg);
}

.preview .quote-purple-label {
    color: var(--quote-purple);
}

.preview blockquote.quote-yellow {
    border: 1px solid var(--quote-yellow);
    background-color: var(--quote-yellow-bg);
}

.preview .quote-yellow-label {
    color: var(--quote-yellow);
}

.preview blockquote.quote-red {
    border: 1px solid var(--quote-red);
    background-color: var(--quote-red-bg);
}

.preview .quote-red-label {
    color: var(--quote-red);
}

.preview code,
.preview pre {
    font-size: large;
    background-color: var(--background-color-2);
    padding: 10px;
    border-radius: 5px 5px 10px 10px;
    max-width: calc(100% - 20px);
    overflow-x: scroll;
    margin-top: 2px;
}

.preview code {
    padding: 1px 10px 1px 10px;
    border-radius: 10px;
}

.preview pre code {
    background-color: transparent;
    padding: 0px;
}

.preview .code-head {
    background-color: var(--background-color-2);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px 10px 5px 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-editor);
    justify-content: space-between;
}

.preview .code-head button {
    border: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 100px;
}

/* images */

.preview img {
    border-radius: 10px;
    max-width: calc(100% - 20px);
}

.preview .media-container {
    display: contents;
}

.preview .media-container p {
    text-align: center;
    display: none;
    margin: 5px;
    opacity: 50%;
    align-items: center;
    gap: 5px;
}

.preview .media-container p::before {
    content: "info";
    font-family: 'Material Symbols Rounded';
}

.preview .media-container:hover p {
    display: inline-flex;
}

/* links */

.preview a {
    color: var(--link-color);
    display: inline-flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.preview a:hover {
    text-decoration: underline;
}

.preview a img.favicon {
    border: none;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    margin: 0px;
}

/* checklists */

.preview input[type="checkbox"] {
    font-family: "Material Symbols Outlined";
    appearance: none;
    min-width: 18px;
    width: 18px;
    height: 18px;
    border: 1px solid var(--border-light-color);
    border-radius: 5px;
    background-color: transparent;
    display: inline-block;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
}

.preview .task-list-item-complete input[type="checkbox"]:checked {
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
}

.preview .partialy-completed-task-list-item input[type="checkbox"]:checked {
    background-color: var(--border-light-color);
    border-color: var(--border-light-color);
}

.preview .cancelled-task-list-item input[type="checkbox"]:checked {
    background-color: var(--quote-red);
    border-color: var(--quote-red);
}

.preview .task-list-item-complete input[type="checkbox"]:checked::after {
    content: "check";
    color: white;
    font-size: 18px;
    font-weight: 900;
    position: absolute;
    top: -2px;
    left: -1px;
}

.preview .partialy-completed-task-list-item input[type="checkbox"]:checked::after {
    content: "check_indeterminate_small";
    color: white;
    font-size: 18px;
    font-weight: 900;
    position: absolute;
    top: -3px;
    left: -1px;
}

.preview .cancelled-task-list-item input[type="checkbox"]:checked::after {
    content: "close";
    color: white;
    font-size: 18px;
    font-weight: 900;
    position: absolute;
    top: -3px;
    left: -1px;
}

.preview .task-list-item-complete {
    color: var(--highlight-color);
}

.preview .cancelled-task-list-item {
    color: var(--quote-red);
    text-decoration: line-through;
}

/* tables */

.preview .table-container {
    width: calc(100% - 20px);
    overflow-x: scroll;
}

.preview table {
    margin: 20px 0;
    font-size: 1rem;
    overflow: hidden;
}

.preview th,
.preview td {
    padding: 12px 15px;
    text-align: left;
    background-color: var(--background-color-2);
    border-radius: 5px;
    transition: 0.3s;
}

.preview thead th {
    background-color: var(--background-color-3);
    color: var(--text-color);
    font-weight: 400;
}

.preview thead th:first-child {
    border-top-left-radius: 10px;
}
.preview thead th:last-child {
    border-top-right-radius: 10px;
}
.preview tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
.preview tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.preview tr:hover td {
    background-color: var(--background-color-3);
}

/* html stuff */
.preview input:not([type="checkbox"]) {
    background-color: var(--field-color);
    color: var(--text-color);
    border: 1px solid var(--border-light-color);
    padding: 5px 10px;
    border-radius: 100px;
    width: 300px;
    margin: 10px 40px 10px 40px;
}

.preview input:not([type="checkbox"]):focus {
    outline: 2px solid var(--highlight-color);
}

.preview iframe {
    width: calc(100% - 20px);
    justify-self: center;
    border-radius: 10px;
    min-height: 500px;
    border: 0;
}

.preview button {
    height: 30px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid var(--border-light-color);
    background-color: var(--background-color-3);
    color: var(--text-color);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.preview embed {
    width: 100%;
    height: 600px;
    border-radius: 10px;
}

.preview math {
    display: block;
    max-width: calc(100% - 20px);
    padding: 10px;
    border-radius: 10px;
    background-color: var(--background-color-2);
    font-size: large;
}

.preview video {
    width: 100%;
    border-radius: 15px;
}

.preview mark {
    background-color: var(--quote-yellow-bg);
    color: var(--text-color);
    padding: 0 5px;
    border-radius: 5px;
}

.preview mark:nth-of-type(5n+1) {
    background-color: var(--quote-yellow-bg);
}

.preview mark:nth-of-type(5n+2) {
    background-color: var(--quote-green-bg);
}

.preview mark:nth-of-type(5n+3) {
    background-color: var(--quote-blue-bg);
}

.preview mark:nth-of-type(5n+4) {
    background-color: var(--quote-purple-bg);
}

.preview mark:nth-of-type(5n) {
    background-color: var(--quote-red-bg);
}

/* custom html */

.preview icon {
    font-family: "Material Symbols Rounded";
    font-size: x-large;
}

.preview blank-space {
    display: block;
    height: 100vh;
}