.preview {
    max-height: calc(100vh - 48px - 30px);
    max-width: 900px;
    padding: 15px;
    margin: 0 auto;
    color: var(--text-color);
    background-color: transparent;
    display: none;
    overflow: scroll;
    font-family: var(--font-text);
}

.preview:focus {
    outline:none;
}

.preview::before {
    padding-bottom: 100vh;
}

.preview.on {
    display: block;
}

/* titles */

.preview h1, .preview h2, .preview h3, .preview h4, .preview h5, .preview h6 {
    width: calc(100% - 20px);
    font-family: var(--font-title);
    color: var(--title-color);
    padding-top: 15px;
}

.preview h1, .preview h2 {
    border-bottom: 1px solid var(--border-light-color);
}

/* rules */
.preview hr {
    border: 0;
    border-bottom: 1px solid var(--border-light-color);
    width: calc(100% - 20px);
    margin-top: 30px;
    margin-bottom: 30px;
}

/* text effects */

.preview del:hover {
    text-decoration: none;
}

/* quotes */

.preview blockquote {
    border-left: 2px solid var(--border-light-color);
    padding-left: 15px;
}

.preview .quote-label {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    font-size: large;
    user-select: none;
    background-color: var(--background-color);
    padding: 0px 10px 0px 10px;
    border-radius: 50px;
}

.preview blockquote.quote-generic,
.preview blockquote.quote-blue,
.preview blockquote.quote-green,
.preview blockquote.quote-purple,
.preview blockquote.quote-yellow,
.preview blockquote.quote-red {
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    box-shadow: var(--shadow);
}

.preview blockquote.quote-generic {
    border: 1px solid var(--border-light-color);
    background-color: var(--background-color-3);
}

.preview blockquote.quote-blue {
    border: 1px solid var(--quote-blue);
    background-color: var(--quote-blue-bg);
}

.preview .quote-blue-label {
    color: var(--quote-blue);
}

.preview blockquote.quote-green {
    border: 1px solid var(--quote-green);
    background-color: var(--quote-green-bg);
}

.preview .quote-green-label {
    color: var(--quote-green);
}

.preview blockquote.quote-purple {
    border: 1px solid var(--quote-purple);
    background-color: var(--quote-purple-bg);
}

.preview .quote-purple-label {
    color: var(--quote-purple);
}

.preview blockquote.quote-yellow {
    border: 1px solid var(--quote-yellow);
    background-color: var(--quote-yellow-bg);
}

.preview .quote-yellow-label {
    color: var(--quote-yellow);
}

.preview blockquote.quote-red {
    border: 1px solid var(--quote-red);
    background-color: var(--quote-red-bg);
}

.preview .quote-red-label {
    color: var(--quote-red);
}

.preview .code-container {
    position: relative;
    margin: 20px 0;
    border-radius: 10px;
    background-color: var(--background-color-2);
    max-width: calc(100% - 20px);
    overflow-x: auto;
    padding: 0;
}

.preview .code-container .code-head {
    position: absolute;
    top: 8px;
    right: 12px;
    z-index: 2;
    background: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-editor);
    justify-content: end;
    border-radius: 8px;
}

.preview .code-container pre,
.preview .code-container pre.ghcodeblock {
    margin: 0;
    border-radius: 10px;
    background: none;
    box-shadow: none;
    max-width: 100%;
    overflow-x: auto;
    padding: 18px 10px 10px 10px;
    position: relative;
}

.preview .code-container code {
    background: transparent;
    padding: 0;
    border-radius: 0;
    font-size: large;
}

.preview .code-container .code-head button {
    border: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 100px;
    background-color: var(--background-color-2);
    cursor: pointer;
}

.preview .code-head {
    all: unset;
}

/* images */

.preview .media-container {
    position: relative;
    display: inline-block;
}

.preview .media-container div {
    position: absolute;
    top: 10px;
    left: 15px;
    color: white;
    font-size: large;
    display: none;
    opacity: 0%;
    z-index: 2;
    transition: opacity 1s;
    max-width: 80%;
    box-sizing: border-box;
    text-shadow: 0px 0px 10px black;
}

.preview .media-container div .alt,
.preview .media-container div .url {
    display: block;
}

.preview .media-container div .url {
    font-size: small;
}

.preview .media-container:hover div {
    display: block;
    opacity: 100%;
}

.preview .media-container img,
.preview .media-container video {
    display: block;
    max-width: 100%;
    border-radius: 10px;
    transition: filter 0.3s;
}

.preview .media-container:hover img,
.preview .media-container:hover video {
    filter: brightness(.6);
}

.preview .media-container audio + div,
.preview .media-container:hover audio + div {
    display: none !important;
    opacity: 0 !important;
}

/* links */

.preview a {
    color: var(--link-color);
    display: inline-flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.preview a:hover {
    text-decoration: underline;
}

.preview a img.favicon {
    border: none;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    margin: 0px;
}

/* checklists */

.preview input[type="checkbox"] {
    font-family: "Material Symbols Outlined";
    appearance: none;
    min-width: 18px;
    width: 18px;
    height: 18px;
    border: 1px solid var(--border-light-color);
    border-radius: 5px;
    background-color: transparent;
    display: inline-block;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
}

.preview .task-list-item-complete input[type="checkbox"]:checked {
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
}

.preview .partialy-completed-task-list-item input[type="checkbox"]:checked {
    background-color: var(--border-light-color);
    border-color: var(--border-light-color);
}

.preview .cancelled-task-list-item input[type="checkbox"]:checked {
    background-color: var(--quote-red);
    border-color: var(--quote-red);
}

.preview .task-list-item-complete input[type="checkbox"]:checked::after {
    content: "check";
    color: white;
    font-size: 18px;
    font-weight: 900;
    position: absolute;
    top: -2px;
    left: -1px;
}

.preview .partialy-completed-task-list-item input[type="checkbox"]:checked::after {
    content: "check_indeterminate_small";
    color: white;
    font-size: 18px;
    font-weight: 900;
    position: absolute;
    top: -3px;
    left: -1px;
}

.preview .cancelled-task-list-item input[type="checkbox"]:checked::after {
    content: "close";
    color: white;
    font-size: 18px;
    font-weight: 900;
    position: absolute;
    top: -3px;
    left: -1px;
}

.preview .task-list-item-complete {
    color: var(--highlight-color);
}

.preview .cancelled-task-list-item {
    color: var(--quote-red);
    text-decoration: line-through;
}

/* tables */

.preview .table-container {
    width: calc(100% - 20px);
    overflow-x: scroll;
}

.preview table {
    margin: 20px 0;
    font-size: 1rem;
    overflow: hidden;
}

.preview th,
.preview td {
    padding: 12px 15px;
    text-align: left;
    background-color: var(--background-color-2);
    border-radius: 5px;
    transition: 0.3s;
}

.preview thead th {
    background-color: var(--background-color-3);
    color: var(--text-color);
    font-weight: 400;
}

.preview thead th:first-child {
    border-top-left-radius: 10px;
}
.preview thead th:last-child {
    border-top-right-radius: 10px;
}
.preview tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
.preview tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.preview tr:hover td {
    background-color: var(--background-color-3);
}

/* html stuff */
.preview input:not([type="checkbox"]) {
    background-color: var(--field-color);
    color: var(--text-color);
    border: 1px solid var(--border-light-color);
    padding: 5px 10px;
    border-radius: 100px;
    width: 300px;
    margin: 10px 40px 10px 40px;
}

.preview input:not([type="checkbox"]):focus {
    outline: 2px solid var(--highlight-color);
}

.preview iframe {
    width: calc(100% - 20px);
    justify-self: center;
    border-radius: 10px;
    min-height: 500px;
    border: 0;
}

.preview button {
    height: 30px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid var(--border-light-color);
    background-color: var(--background-color-3);
    color: var(--text-color);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.preview embed {
    width: 100%;
    height: 600px;
    border-radius: 10px;
}

.preview math {
    display: block;
    max-width: calc(100% - 20px);
    padding: 10px;
    border-radius: 10px;
    background-color: var(--background-color-2);
    font-size: large;
}

.preview video {
    border-radius: 15px;
    cursor: pointer;
}

.preview mark {
    background-color: var(--quote-yellow-bg);
    color: var(--text-color);
    padding: 0 5px;
    border-radius: 5px;
}

.preview mark:nth-of-type(5n+1) {
    background-color: var(--quote-yellow-bg);
}

.preview mark:nth-of-type(5n+2) {
    background-color: var(--quote-green-bg);
}

.preview mark:nth-of-type(5n+3) {
    background-color: var(--quote-blue-bg);
}

.preview mark:nth-of-type(5n+4) {
    background-color: var(--quote-purple-bg);
}

.preview mark:nth-of-type(5n) {
    background-color: var(--quote-red-bg);
}

.preview .banner {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.preview dt {
    margin-top: 10px;
    margin-bottom: 5px;
}

.preview dt::after {
    content: " defines";
    opacity: 50%;
    font-style: italic;
}

.preview dd {
    font-style: italic;
    border-left: 1px solid var(--border-light-color);
    margin-left: 20px;
    padding-left: 20px;
}

.preview abbr {
    cursor: help;
}

/* custom html */

.preview icon {
    font-family: "Material Symbols Rounded";
    font-size: x-large;
}

.preview blank-space {
    display: block;
    height: 100vh;
}

.preview .small {
    font-size: small;
    opacity: 50%;
    display: block;
}

.preview details {
    border: 1px solid var(--border-light-color);
    border-radius: 15px;
    box-shadow: var(--shadow);
    margin: 20px 0;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.preview details summary {
    background-color: var(--background-color-3);
    color: var(--title-color);
    font-size: large;
    cursor: pointer;
    user-select: none;
    list-style: none;
    align-items: center;
    position: relative;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.3s;

    display: flex;
    align-items: center;
    gap: 10px;
}

.preview details summary::before {
    content: "expand_more";
    font-family: "Material Symbols Outlined";
    font-size: 24px;
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.preview details[open] summary {
    margin: 7px;
}

.preview details[open] summary::before {
    transform: rotate(0deg);
}

.preview details .content {
    padding: 12px 15px;
    overflow: scroll;
}

.preview .table-hover-menu {
    position: relative;
}

.preview .table-hover-menu .icon-button {
    /* background-color: var(--background-color); */
    border: none;
    /* border-radius: 10px; */
    height: 30px;
    width: 30px;
    padding: 0;
}

.preview .table-hover-menu .table-menu {
    position: absolute;
    top: 28px;
    right: 28px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
}

.preview .table-hover-menu:hover .table-menu,
.preview .table-hover-menu .table-menu:focus-within,
.preview .table-hover-menu .table-menu:active {
    opacity: 1;
    pointer-events: auto;
}

.preview .table-hover-menu table {
    width: 100%;
}