:root {
    --font-editor:          "Ubuntu Mono", monospace;
    --font-title:           "Ubuntu", sans-serif;
    --font-text:            "Ubuntu", sans-serif;
}

.theme-dark {
    --active-line:          #303030;

    --background-color:     #282828;
    --background-color-2:   #303030;
    --background-color-3:   #454545;

    --field-color:          #444444;

    --border-dark-color:    #050505;
    --border-light-color:   #6e6e6e;
    --border-field-color:   transparent;

    --hover-color:          #3f3f3f;

    --title-color:          #ffffff;
    --button-color:         #ffffff;
    --button-color-2:       #ffffff;
    --text-color:           #dddddd;

    --highlight-color:      #3584e4; 
    --selection-color:      #3584e433;
    --link-color:           #99c1f1;

    --danger:               #ff8881; 
    --danger-bg:            #ff888133;

    --shadow:               0px 0px 10px #00000055;
    --shadow-light:         0px 1px 3px rgba(0, 0, 0, 0.1);
    
    --quote-purple:         #dd92ff; 
    --quote-blue:           #818eff;
    --quote-green:          #9aff81; 
    --quote-yellow:         #fff781;
    --quote-red:            #ff8881;

    --quote-purple-bg:      #4b3a53; 
    --quote-blue-bg:        #3a3c51;
    --quote-green-bg:       #3f533a; 
    --quote-yellow-bg:      #53513a;
    --quote-red-bg:         #533b3a;

    --hljs-bg:              #23272e;
    --hljs-text:            #e0e0e0;
    --hljs-comment:         #6a9955;
    --hljs-keyword:         #569cd6;
    --hljs-function:        #dcdcaa;
    --hljs-string:          #ce9178;
    --hljs-number:          #b5cea8;
    --hljs-variable:        #9cdcfe;
    --hljs-title:           #4ec9b0;
    --hljs-link:            #d7ba7d;
    --hljs-positive:        #b5cea8;
    --hljs-positive-bg:     #b5cea833;
    --hljs-negative:        #f44747;
    --hljs-negative-bg:     #f4474733;
}

.theme-light {
    --active-line:          #e5e5e5;

    --background-color:     #f5f5f5;
    --background-color-2:   #ffffff;
    --background-color-3:   #f5f5f5;

    --field-color:          #ebebeb;

    --border-dark-color:    #dddddd;
    --border-light-color:   #dddddd;
    --border-field-color:   #d6d6d6;

    --hover-color:          #ebebeb;

    --title-color:          #2e3436;
    --button-color:         #2e3436;
    --button-color-2:       #ffffff;
    --text-color:           #3c3c3c;

    --highlight-color:      #3584e4; 
    --selection-color:      #3584e433;
    --link-color:           #0d71de;

    --danger:               #ca2121; 
    --danger-bg:            #ca212133;

    --shadow:               0px 0px 8px #00000022;
    --shadow-light:         0px 1px 3px rgba(0, 0, 0, 0.1);

    --quote-purple:         #9421ca; 
    --quote-blue:           #2178ca; 
    --quote-green:          #2fca21; 
    --quote-yellow:         #caa321;
    --quote-red:            #ca2121; 

    --quote-purple-bg:      #e2cbec; 
    --quote-blue-bg:        #cbdcec; 
    --quote-green-bg:       #cdeccb; 
    --quote-yellow-bg:      #ece5cb;
    --quote-red-bg:         #eccbcb;

    --hljs-bg:              #f8f8f8;
    --hljs-text:            #2d2d2d;
    --hljs-comment:         #4b7c2f;
    --hljs-keyword:         #0184bc;
    --hljs-function:        #795e26;
    --hljs-string:          #50a14f;
    --hljs-number:          #986801;
    --hljs-variable:        #4078f2;
    --hljs-title:           #c18401;
    --hljs-link:            #4078f2;
    --hljs-positive:        #50a14f;
    --hljs-positive-bg:     #50a14f33;
    --hljs-negative:        #e45649;
    --hljs-negative-bg:     #e4564933;
}

.theme-cream {
    --active-line:          #e8ddc0;

    --background-color:     #fdf6e3;
    --background-color-2:   #fffaf0;
    --background-color-3:   #f5eacb;

    --field-color:          #f0e6d2;

    --border-dark-color:    #d6c9ab;
    --border-light-color:   #e8ddc0;
    --border-field-color:   #d0c7a7;

    --hover-color:          #efe2c5;

    --title-color:          #3c2f1c;
    --button-color:         #3c2f1c;
    --button-color-2:       #fff8e1;
    --text-color:           #4b3a25;

    --highlight-color:      #b58900; 
    --selection-color:      #b5890033;
    --link-color:           #a06a00;

    --danger:               #a83232; 
    --danger-bg:            #a8323233;

    --shadow:               0px 0px 6px #00000015;
    --shadow-light:         0px 1px 3px rgba(0, 0, 0, 0.1);

    --quote-purple:         #6f32a8; 
    --quote-blue:           #325ba8; 
    --quote-green:          #36a832; 
    --quote-yellow:         #a88d32; 
    --quote-red:            #a83232; 

    --quote-purple-bg:      #e1cfd7; 
    --quote-blue-bg:        #d4d7d7; 
    --quote-green-bg:       #d5e6c0; 
    --quote-yellow-bg:      #ece1c0; 
    --quote-red-bg:         #eccfc0;

    --hljs-bg:              #fdf6e3;
    --hljs-text:            #4b3a25;
    --hljs-comment:         #5b7c36;
    --hljs-keyword:         #b58900;
    --hljs-function:        #6c71c4;
    --hljs-string:          #859900;
    --hljs-number:          #2aa198;
    --hljs-variable:        #cb4b16;
    --hljs-title:           #268bd2;
    --hljs-link:            #b58900;
    --hljs-positive:        #859900;
    --hljs-positive-bg:     #85990033;
    --hljs-negative:        #dc322f;
    --hljs-negative-bg:     #dc322f33;
}

.theme-gruvbox-dark {
    --active-line:          #3c3836;

    --background-color:     #282828;
    --background-color-2:   #32302f;
    --background-color-3:   #3c3836;

    --field-color:          #3c3836;

    --border-dark-color:    #1d2021;
    --border-light-color:   #504945;
    --border-field-color:   #50494555;

    --hover-color:          #3c3836;

    --title-color:          #ebdbb2;
    --button-color:         #fbf1c7;
    --button-color-2:       #3c3836;
    --text-color:           #d5c4a1;

    --highlight-color:      #fabd2f;
    --selection-color:      #fabd2f33;
    --link-color:           #83a598;

    --danger:               #fb4934;
    --danger-bg:            #fb493433;

    --shadow:               0px 0px 10px #00000055;
    --shadow-light:         0px 1px 3px rgba(0, 0, 0, 0.1);

    --quote-purple:         #d3869b;
    --quote-blue:           #83a598;
    --quote-green:          #b8bb26;
    --quote-yellow:         #fabd2f;
    --quote-red:            #fb4934;

    --quote-purple-bg:      #4a373c;
    --quote-blue-bg:        #2f3b3c;
    --quote-green-bg:       #353c28;
    --quote-yellow-bg:      #4a422c;
    --quote-red-bg:         #4a2d2c;

    --hljs-bg:              #282828;
    --hljs-text:            #ebdbb2;
    --hljs-comment:         #928374;
    --hljs-keyword:         #fb4934;
    --hljs-function:        #b8bb26;
    --hljs-string:          #b8bb26;
    --hljs-number:          #d3869b;
    --hljs-variable:        #83a598;
    --hljs-title:           #fabd2f;
    --hljs-link:            #83a598;
    --hljs-positive:        #b8bb26;
    --hljs-positive-bg:     #b8bb2633;
    --hljs-negative:        #fb4934;
    --hljs-negative-bg:     #fb493433;
}

.theme-epaper {
    --active-line:          #bbbbbb;

    --background-color:     #ffffff;
    --background-color-2:   #ffffff;
    --background-color-3:   #ffffff;

    --field-color:          #ffffff;

    --border-dark-color:    #000000;
    --border-light-color:   #000000;
    --border-field-color:   #000000;

    --hover-color:          #bbbbbb;

    --title-color:          #000000;
    --button-color:         #000000;
    --button-color-2:       #ffffff;
    --text-color:           #000000;

    --highlight-color:      #bbbbbb;
    --selection-color:      #bbbbbb;
    --link-color:           #000000;

    --danger:               #000000;
    --danger-bg:            #bbbbbb;

    --shadow:               5px 5px 0px #000000, 0px 0px 0px 1px #000000;
    --shadow-light:         0px 1px 3px rgba(0, 0, 0, 0.1);

    --quote-purple:         #000000; 
    --quote-blue:           #000000;
    --quote-green:          #000000; 
    --quote-yellow:         #000000; 
    --quote-red:            #000000; 

    --quote-purple-bg:      #ffffff; 
    --quote-blue-bg:        #ffffff;
    --quote-green-bg:       #ffffff; 
    --quote-yellow-bg:      #ffffff; 
    --quote-red-bg:         #ffffff; 

    --hljs-bg:              #ffffff;
    --hljs-text:            #000000;
    --hljs-comment:         #888888;
    --hljs-keyword:         #000000;
    --hljs-function:        #222222;
    --hljs-string:          #444444;
    --hljs-number:          #222222;
    --hljs-variable:        #000000;
    --hljs-title:           #000000;
    --hljs-link:            #000000;
    --hljs-positive:        #000000;
    --hljs-positive-bg:     #00000000;
    --hljs-negative:        #000000;
    --hljs-negative-bg:     #00000000;
    
    .sidebar .file.selected,
    .sidebar .file:hover {
        background-color: var(--background-color-2);
        box-shadow: var(--shadow);
    }

    .prompt-overlay {
        animation: none !important;
        background-color: #ffffffdd;
    }
}

.theme-oled {
    --active-line:          #1d1d1d;

    --background-color:     #000000;
    --background-color-2:   #000000;
    --background-color-3:   #1d1d1d;

    --field-color:          #1d1d1d;

    --border-dark-color:    #333333;
    --border-light-color:   #333333;
    --border-field-color:   transparent;

    --hover-color:          #1d1d1d;

    --title-color:          #ffffff;
    --button-color:         #ffffff;
    --button-color-2:       #ffffff;
    --text-color:           #cecece;

    --highlight-color:      #3584e4; 
    --selection-color:      #3584e433;
    --link-color:           #99c1f1;

    --danger:               #ff8881; 
    --danger-bg:            #ff888133;

    --shadow:               0px 0px 10px #ffffff11;
    --shadow-light:         0px 1px 3px rgba(0, 0, 0, 0.1);
    
    --quote-purple:         #d781ff; 
    --quote-blue:           #818eff;
    --quote-green:          #9aff81; 
    --quote-yellow:         #fff781;
    --quote-red:            #ff8881;

    --quote-purple-bg:      #2b1a33; 
    --quote-blue-bg:        #1a1c31;
    --quote-green-bg:       #1f331a; 
    --quote-yellow-bg:      #33311a;
    --quote-red-bg:         #331b1a;

    --hljs-bg:              #000000;
    --hljs-text:            #cecece;
    --hljs-comment:         #6a9955;
    --hljs-keyword:         #3584e4;
    --hljs-function:        #fff781;
    --hljs-string:          #9aff81;
    --hljs-number:          #ff8881;
    --hljs-variable:        #99c1f1;
    --hljs-title:           #d781ff;
    --hljs-link:            #fff781;
    --hljs-positive:        #9aff81;
    --hljs-positive-bg:     #9aff8133;
    --hljs-negative:        #ff8881;
    --hljs-negative-bg:     #ff888133;
}

.theme-monokai {
    --active-line:          #3e3d32;

    --background-color:     #272822;
    --background-color-2:   #2e2f27;
    --background-color-3:   #3b3a32;

    --field-color:          #49483e;

    --border-dark-color:    #1e1f1c;
    --border-light-color:   #75715e;
    --border-field-color:   #75715e33;

    --hover-color:          #383830;

    --title-color:          #f8f8f2;
    --button-color:         #f8f8f2;
    --button-color-2:       #2e2f27;
    --text-color:           #f8f8f2;

    --highlight-color:      #66d9ef;
    --selection-color:      #49483e99;
    --link-color:           #a6e22e;

    --danger:               #f92672;
    --danger-bg:            #f9267233;

    --shadow:               0px 0px 10px #00000055;
    --shadow-light:         0px 1px 3px rgba(0, 0, 0, 0.1);

    --quote-purple:         #ae81ff;
    --quote-blue:           #66d9ef;
    --quote-green:          #a6e22e;
    --quote-yellow:         #e6db74;
    --quote-red:            #f92672;

    --quote-purple-bg:      #423a4e;
    --quote-blue-bg:        #344b4b;
    --quote-green-bg:       #404d24;
    --quote-yellow-bg:      #4d4c32;
    --quote-red-bg:         #512832;

    --hljs-bg:              #272822;
    --hljs-text:            #f8f8f2;
    --hljs-comment:         #a59e8c;
    --hljs-keyword:         #f92672;
    --hljs-function:        #a6e22e;
    --hljs-string:          #e6db74;
    --hljs-number:          #ae81ff;
    --hljs-variable:        #fd971f;
    --hljs-title:           #66d9ef;
    --hljs-link:            #a6e22e;
    --hljs-positive:        #a6e22e;
    --hljs-positive-bg:     #a6e22e33;
    --hljs-negative:        #f92672;
    --hljs-negative-bg:     #f9267233;
}

.theme-nord {
    --active-line:          #3b4252;

    --background-color:     #2e3440;
    --background-color-2:   #3b4252;
    --background-color-3:   #434c5e;

    --field-color:          #4c566a;

    --border-dark-color:    #2e3440;
    --border-light-color:   #747a85;
    --border-field-color:   #d8dee933;

    --hover-color:          #434c5e;

    --title-color:          #eceff4;
    --button-color:         #eceff4;
    --button-color-2:       #2e3440;
    --text-color:           #d8dee9;

    --highlight-color:      #88c0d0;
    --selection-color:      #88c0d044;
    --link-color:           #8fbcbb;

    --danger:               #bf616a;
    --danger-bg:            #bf616a33;

    --shadow:               0px 0px 10px #00000033;
    --shadow-light:         0px 1px 3px rgba(0, 0, 0, 0.1);

    --quote-purple:         #b48ead;
    --quote-blue:           #81a1c1;
    --quote-green:          #a3be8c;
    --quote-yellow:         #ebcb8b;
    --quote-red:            #bf616a;

    --quote-purple-bg:      #494656;
    --quote-blue-bg:        #3f4a5a;
    --quote-green-bg:       #45504f;
    --quote-yellow-bg:      #54524f;
    --quote-red-bg:         #4b3d48;

    --hljs-bg:              #2e3440;
    --hljs-text:            #d8dee9;
    --hljs-comment:         #7c8ca7;
    --hljs-keyword:         #81a1c1;
    --hljs-function:        #8fbcbb;
    --hljs-string:          #a3be8c;
    --hljs-number:          #b48ead;
    --hljs-variable:        #ebcb8b;
    --hljs-title:           #88c0d0;
    --hljs-link:            #8fbcbb;
    --hljs-positive:        #a3be8c;
    --hljs-positive-bg:     #a3be8c33;
    --hljs-negative:        #bf616a;
    --hljs-negative-bg:     #bf616a33;
}

.theme-custom {
    --active-line:          #222222;

    --background-color:     #161616;
    --background-color-2:   #222222;
    --background-color-3:   #2e2e2e;

    --field-color:          #2e2e2e;

    --border-dark-color:    #000000;
    --border-light-color:   #636363;
    --border-field-color:   transparent;

    --hover-color:          #2e2e2e;

    --title-color:          #dddddd;
    --button-color:         #ffffff;
    --button-color-2:       #ffffff;
    --text-color:           #cccccc;

    --highlight-color:      #3584e4; 
    --selection-color:      #3584e433;
    --link-color:           #99c1f1;

    --danger:               #ff8881; 
    --danger-bg:            #ff888133;

    --shadow:               0px 0px 10px #00000055;
    --shadow-light:         0px 1px 3px rgba(0, 0, 0, 0.1);
    
    --quote-purple:         #dd92ff; 
    --quote-blue:           #818eff;
    --quote-green:          #9aff81; 
    --quote-yellow:         #fff781;
    --quote-red:            #ff8881;

    --quote-purple-bg:      #3d2b45; 
    --quote-blue-bg:        #2b2e42;
    --quote-green-bg:       #30452b; 
    --quote-yellow-bg:      #45432b;
    --quote-red-bg:         #452d2b;

    --hljs-bg:              #23272e;
    --hljs-text:            #e0e0e0;
    --hljs-comment:         #6a9955;
    --hljs-keyword:         #569cd6;
    --hljs-function:        #dcdcaa;
    --hljs-string:          #ce9178;
    --hljs-number:          #b5cea8;
    --hljs-variable:        #9cdcfe;
    --hljs-title:           #4ec9b0;
    --hljs-link:            #d7ba7d;
    --hljs-positive:        #b5cea8;
    --hljs-positive-bg:     #b5cea833;
    --hljs-negative:        #f44747;
    --hljs-negative-bg:     #f4474733;
}