.preview {
    width: 100%;
    box-sizing: border-box;
    padding-block: 15px;
    padding-inline: max(15px, calc((100% - 900px) / 2));
    max-height: calc(100vh - 48px);
    margin: 0;
    color: var(--text-color);
    background-color: transparent;
    display: none;
    overflow: auto;
    font-family: var(--font-text);
}

.preview *::selection {
    background: var(--highlight-color);
    color: var(--button-color-2);
    border-radius: 4px;
}

.preview:focus {
    outline:none;
}

.preview.on {
    display: block;
}

/* titles */

.preview h1, .preview h2, .preview h3, .preview h4, .preview h5, .preview h6 {
    width: 100%;
    font-family: var(--font-title);
    color: var(--title-color);
    padding-top: 15px;
    word-break: break-all;
}

.preview h1 {
    font-size: 2.5rem;
    margin: 1.5rem 0;
    border-bottom: 1px solid var(--border-light-color);
}

.preview h2 {
    font-size: 2rem;
    margin: 1.4rem 0;
    border-bottom: 1px solid var(--border-light-color);
}

.preview h3 {
    font-size: 1.5rem;
    margin: 1.3rem 0;
}

.preview h4 {
    font-size: 1.2rem;
    margin: 1.2rem 0;
}

.preview h5 {
    font-size: 1rem;
    margin: 1.1rem 0;
}

.preview h6 {
    font-size: 1rem;
    margin: 1rem 0;
    opacity: 75%;
}

.preview p {
    margin-top: 0;
}

/* rules */
.preview hr {
    border: 0;
    border-bottom: 1px solid var(--border-light-color);
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text-hr {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1em 0;
}

.text-hr::before,
.text-hr::after {
  content: "";
  flex: 1;
  height: 1px;
  background: var(--border-light-color);
}

/* text effects */

.preview del:hover {
    text-decoration: none;
}

/* quotes */

.preview blockquote {
    padding-left: 15px;
    position: relative;
}

.preview blockquote::before {
    content: "";
    position: absolute;
    background-color: var(--border-light-color);
    left: -3px;
    width: 3px;
    height: 100%;
    border-radius: 2px;
}

.preview .quote-label {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    font-size: large;
    cursor: text;
}

.preview .quote-label .icon {
    cursor: default;
    user-select: none;
}

.preview blockquote.quote-generic,
.preview blockquote.quote-blue,
.preview blockquote.quote-green,
.preview blockquote.quote-purple,
.preview blockquote.quote-yellow,
.preview blockquote.quote-red {
    padding-left: 15px;
}

.preview blockquote.quote-generic {
    border-left: 2px solid var(--border-light-color);
}

.preview blockquote.quote-blue::before {
    background-color: var(--quote-blue);
}

.preview .quote-blue-label {
    color: var(--quote-blue);
}

.preview blockquote.quote-green::before {
    background-color: var(--quote-green);
}

.preview .quote-green-label {
    color: var(--quote-green);
}

.preview blockquote.quote-purple::before {
    background-color: var(--quote-purple);
}

.preview .quote-purple-label {
    color: var(--quote-purple);
}

.preview blockquote.quote-yellow::before {
    background-color: var(--quote-yellow);
}

.preview .quote-yellow-label {
    color: var(--quote-yellow);
}

.preview blockquote.quote-red::before {
    background-color: var(--quote-red);
}

.preview .quote-red-label {
    color: var(--quote-red);
}

.preview .code-container {
    position: relative;
    margin: 20px 0;
    border-radius: 10px;
    background-color: var(--background-color-2);
    max-width: 100%;
    overflow-x: scroll;
    padding: 0;
    box-shadow: var(--shadow-light);
}

.preview .code-container .code-head {
    position: absolute;
    top: 8px;
    right: 12px;
    z-index: 2;
    background: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-editor);
    justify-content: end;
    border-radius: 8px;
}

.preview .code-container pre,
.preview .code-container pre.ghcodeblock {
    margin: 0;
    border-radius: 10px;
    background: none;
    box-shadow: none;
    max-width: 100%;
    overflow-x: auto;
    padding: 18px 10px 10px 10px;
    position: relative;
    border: 1px solid var(--border-light-color);
}

.preview .code-container code {
    background: transparent;
    padding: 0;
    border-radius: 0;
    font-size: medium;
    box-shadow: none;
    user-select: auto;
}

.preview .code-container code::selection {
    background-color: var(--text-color);
    color: var(--background-color);
}

.preview .code-container .code-head button {
    border: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 100px;
    background-color: var(--background-color-2);
    cursor: pointer;
}

.preview .code-head {
    all: unset;
}

.preview code {
    background-color: var(--background-color-2);
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    font-family: var(--font-editor);
    box-shadow: var(--shadow-light);
    user-select: all;
}

.preview code.colorCode {
    position: relative;
    padding-right: 1.5em;
}

.preview .colorSwatch {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);

    width: .5em;
    height: .5em;
    padding: 2px;
    border-radius: .5em;
    box-shadow: var(--shadow-light);
    cursor: pointer;

    transition: border-radius 0.3s;
}

.colorSwatch:hover {
    border-radius: .2em;
}

/* images */

.preview .media-container {
    position: relative;
    display: inline-block;
}

.preview .media-container div {
    position: absolute;
    top: 10px;
    left: 15px;
    color: white;
    font-size: large;
    display: none;
    opacity: 0%;
    z-index: 2;
    transition: opacity 1s;
    max-width: 80%;
    box-sizing: border-box;
    text-shadow: 0px 0px 10px black;
}

.preview .media-container div .alt,
.preview .media-container div .url {
    display: block;
}

.preview .media-container div .url {
    font-size: small;
}

.preview .media-container:hover div {
    display: block;
    opacity: 100%;
}

.preview .media-container img,
.preview .media-container video {
    display: block;
    max-width: 100%;
    border-radius: 10px;
    transition: filter 0.3s;
}

.preview .media-container:hover img,
.preview .media-container:hover video {
    filter: brightness(.6);
}

.preview .media-container.no-title:hover img,
.preview .media-container.no-title:hover video {
    filter: brightness(1);
}

.preview .media-container:hover video:fullscreen {
    filter: brightness(1);
    border-radius: 0px;
}

.preview .media-container audio + div,
.preview .media-container:hover audio + div {
    display: none !important;
    opacity: 0 !important;
}

.preview figure {
    border-radius: 12px;
    overflow: hidden;
    max-width: 400px;
    border: 1px solid var(--border-light-color);
    box-shadow: var(--shadow);
    display: inline-flex;
    flex-direction: column;
    margin:0;
}

.preview figure img {
    max-width: 100%;
    border-radius: 0 !important;
}

.preview figure figcaption {
    background-color: var(--background-color-2);
    padding: 12px;
    border-top: 1px solid var(--border-light-color);
}

/* links */

.preview a {
    color: var(--link-color);
    display: inline-flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.preview a:hover {
    text-decoration: underline;
}

.preview a img.favicon {
    border: none;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    margin: 0px;
}

/* lists */

.preview ol li::marker {
    font-family: var(--font-editor);
}

.preview li {
    margin-bottom: 10px;
}

.preview input[type="checkbox"] {
    font-family: "Material Symbols Rounded";
    appearance: none;
    min-width: 18px;
    width: 18px;
    height: 18px;
    border: 1px solid var(--border-light-color);
    border-radius: 5px;
    background-color: transparent;
    display: inline-block;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
}

.preview input[type="checkbox"]:checked {
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
}

.preview input[type="checkbox"]:checked::after {
    content: "check";
    color: var(--button-color-2);
    font-size: 18px;
    font-weight: 900;
    position: absolute;
    top: -2px;
    left: -1px;
}

.preview .task-list-item-complete {
    color: var(--highlight-color);
}

/* tables */

.preview .table-container, .preview .csv-table-container {
    width: 100%;
    overflow-x: scroll;
}

.preview table {
    margin: 20px 0;
    font-size: 1rem;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    border-bottom: 1px solid var(--border-light-color);
    border-right: 1px solid var(--border-light-color);
}

.preview th,
.preview td {
    padding: 12px 15px;
    text-align: left;
    transition: 0.3s;
    border: 1px solid var(--border-light-color);
    border-bottom: 0;
    border-right: 0;
}

.preview thead th {
    background-color: var(--background-color-2);
    color: var(--text-color);
    font-weight: bold;
}

.preview thead th:first-child {
    border-top-left-radius: 10px;
}
.preview thead th:last-child {
    border-top-right-radius: 10px;
}
.preview tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
.preview tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.preview tr:hover td,
.preview tr:hover th {
    background-color: var(--hover-color);
}

.preview table.csv-table tbody tr:first-child td:first-child {
    border-top-left-radius: 10px;
}
.preview table.csv-table tbody tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

/* html stuff */
.preview input:not([type="checkbox"]) {
    background-color: var(--field-color);
    color: var(--text-color);
    border: 1px solid var(--border-light-color);
    padding: 5px 10px;
    border-radius: 8px;
    width: 300px;
    margin: 10px 40px 10px 40px;
}

.preview input:not([type="checkbox"]):focus {
    outline: 2px solid var(--highlight-color);
}

.preview iframe {
    width: 100%;
    justify-self: center;
    border-radius: 10px;
    min-height: 500px;
    border: 0;
}

.preview button {
    height: 30px;
    border-radius: 12px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid var(--border-light-color);
    background-color: var(--background-color-3);
    color: var(--text-color);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.preview embed {
    width: 100%;
    height: 600px;
    border-radius: 10px;
}

.preview math {
    display: block;
    max-width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--background-color-2);
    font-size: large;
}

.preview video {
    border-radius: 15px;
    cursor: pointer;
}

.preview mark {
    background-color: var(--quote-yellow-bg);
    color: var(--text-color);
    padding: 0 5px;
    border-radius: 5px;
}

.preview mark:nth-of-type(5n+1) {
    background-color: var(--quote-yellow-bg);
}

.preview mark:nth-of-type(5n+2) {
    background-color: var(--quote-green-bg);
}

.preview mark:nth-of-type(5n+3) {
    background-color: var(--quote-blue-bg);
}

.preview mark:nth-of-type(5n+4) {
    background-color: var(--quote-purple-bg);
}

.preview mark:nth-of-type(5n) {
    background-color: var(--quote-red-bg);
}

.preview dt {
    margin-top: 10px;
    margin-bottom: 5px;
}

.preview dt::after {
    opacity: 50%;
    font-style: italic;
}

.preview dd {
    font-style: italic;
    border-left: 1px solid var(--border-light-color);
    margin-left: 20px;
    padding-left: 20px;
}

.preview abbr {
    cursor: help;
}

.preview details {
    background-color: var(--background-color-2);
    border: 1px solid var(--border-light-color);
    border-radius: 15px;
    box-shadow: var(--shadow-light);
    margin: 20px 0;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.preview details summary {
    background-color: var(--background-color-3);
    color: var(--title-color);
    font-size: large;
    cursor: pointer;
    user-select: none;
    list-style: none;
    align-items: center;
    position: relative;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.3s;

    display: flex;
    align-items: center;
    gap: 10px;
}

.preview details summary::before {
    content: "expand_more";
    font-family: "Material Symbols Rounded";
    font-size: 24px;
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.preview details[open] {
    box-shadow: var(--shadow);
}

.preview details[open] summary {
    margin: 7px;
}

.preview details[open] summary::before {
    transform: rotate(0deg);
}

.preview details .content {
    padding: 12px 15px;
    overflow: scroll;
}

.preview input[type="color"] {
    padding: 0;
    background: transparent;
    width: 32px;
    height: 32px;
    border-radius: 12px;
    cursor: pointer;
}

.preview input[type="number"] {
  font-size: 14px;
  width: 80px;
}

.preview input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 4px;
    padding: 0;
    border: 0;
    border-radius: 100px;
}

.preview input[type="range"]:focus {
    outline: none;

    input[type="range"]::-moz-range-thumb,
    input[type="range"]::-webkit-slider-thumb {
        outline: 1px solid var(--highlight-color);
    }
}

.preview input[type="range"]::-moz-range-thumb,
.preview input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    outline: 1px solid var(--border-light-color);
    background-color: var(--button-color-2);
}
.preview input[type="range"]::-moz-range-track {
    height: 4px;
    border-radius: 100px;
}
.preview input[type="range"]::-moz-range-progress {
    height: 4px;
    background-color: var(--highlight-color);
    border-radius: 100px;
}

.preview input[type="file"] {
    position: relative;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    margin: 0;
    border: 2px dashed var(--border-light-color);
    background-color: var(--background-color);
    border-radius: 8px;
    cursor: pointer;
    padding-top: calc(150px - 2ch);
    text-align: center;
}

.preview input[type="file"]::-webkit-file-upload-button,
.preview input[type="file"]::file-selector-button {
    visibility: hidden;
    display: none;
}

.preview input[type="file"]:hover,
.preview input[type="file"]:focus {
    background-color: var(--field-color);
}

.preview textarea {
    width: 100%;
    min-height: 100px;
    background-color: var(--field-color);
    color: var(--text-color);
    border: 1px solid var(--border-light-color);
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
    resize: vertical;
    padding: 8px;
    box-shadow: var(--shadow);
}

/* custom html */

.preview icon {
    font-family: "Material Symbols Rounded";
    font-size: x-large;
    user-select: all;
}

.preview pink   { color: var(--quote-pink)   !important; }
.preview purple { color: var(--quote-purple) !important; }
.preview blue   { color: var(--quote-blue)   !important; }
.preview green  { color: var(--quote-green)  !important; }
.preview yellow { color: var(--quote-yellow) !important; }
.preview orange { color: var(--quote-orange) !important; }
.preview red    { color: var(--quote-red)    !important; }

.preview blank-space {
    display: block;
    height: 100vh;
}

.preview .small {
    font-size: small;
    opacity: 50%;
    display: block;
}

.preview progress {
    background: transparent;
    border-radius: 6px;
    padding: 2px;
    border: 1px solid var(--border-light-color);
    width: 160px;
    -webkit-appearance: none;
    appearance: none;
    overflow: hidden;
    height: 16px;
    box-sizing: content-box;
}

.preview progress[value="100"] {
    border-color: var(--highlight-color);
}

.preview progress::-moz-progress-bar {
    background-color: var(--highlight-color);
    border-radius: 4px;
}

.preview progress::-webkit-progress-bar {
    background: transparent;
    border-radius: 6px;
}

.preview progress::-webkit-progress-value {
    background-color: var(--highlight-color);
    border-radius: 4px;
}

/* kbd */

.preview kbd {
    background-color: var(--background-color-2);
    border: 1px solid var(--border-light-color);
    color: var(--title-color);
    padding: 3px 6px;
        padding-left: 6px;
    border-radius: 6px;
    box-shadow: 0 -2px 0px var(--border-light-color) inset, var(--shadow-light);
    text-transform: capitalize;
    margin: 0px 3px;
    outline: 1px solid #050505;
}

.preview kbd.key-shift, .preview kbd.key-alt, .preview kbd.key-ctrl, .preview kbd.key-meta, .preview kbd.key-cmd,
.preview kbd.key-super, .preview kbd.key-windows, .preview kbd.key-enter, .preview kbd.key-esc, .preview kbd.key-tab,
.preview kbd.key-page-up, .preview kbd.key-page-down, .preview kbd.key-up, .preview kbd.key-down, .preview kbd.key-left,
.preview kbd.key-right, .preview kbd.key-backspace, .preview kbd.key-delete, .preview kbd.key-insert,
.preview kbd.key-caps-lock, .preview kbd.key-print-screen, .preview kbd.key-fn
{ position: relative; padding-left: 20px; text-transform: capitalize; }

.preview kbd.key-shift::before, .preview kbd.key-alt::before, .preview kbd.key-ctrl::before, .preview kbd.key-meta::before,
.preview kbd.key-cmd::before, .preview kbd.key-super::before, .preview kbd.key-windows::before, .preview kbd.key-enter::before,
.preview kbd.key-esc::before, .preview kbd.key-tab::before, .preview kbd.key-page-up::before, .preview kbd.key-page-down::before,
.preview kbd.key-up::before, .preview kbd.key-down::before, .preview kbd.key-left::before, .preview kbd.key-right::before,
.preview kbd.key-backspace::before, .preview kbd.key-delete::before, .preview kbd.key-insert::before,
.preview kbd.key-caps-lock::before, .preview kbd.key-print-screen::before, .preview kbd.key-fn::before
{ font-family: "Material Symbols Rounded"; font-size: 14px; position: absolute; left: 4px; top: 50%; transform: translateY(-50%); }

.preview kbd.key-shift::before        { content: "arrow_upward"; }
.preview kbd.key-alt::before          { content: "keyboard_option_key"; }
.preview kbd.key-ctrl::before         { content: "keyboard_control_key"; }
.preview kbd.key-meta::before         { content: "keyboard_command_key"; }
.preview kbd.key-cmd::before          { content: "keyboard_command_key"; }
.preview kbd.key-super::before        { content: "action_key"; }
.preview kbd.key-windows::before      { content: "window"; }
.preview kbd.key-enter::before        { content: "keyboard_return"; }
.preview kbd.key-esc::before          { content: "close"; }
.preview kbd.key-tab::before          { content: "keyboard_tab"; }
.preview kbd.key-page-up::before      { content: "arrow_upward"; }
.preview kbd.key-page-down::before    { content: "arrow_downward"; }
.preview kbd.key-up::before           { content: "arrow_upward"; }
.preview kbd.key-down::before         { content: "arrow_downward"; }
.preview kbd.key-left::before         { content: "arrow_back"; }
.preview kbd.key-right::before        { content: "arrow_forward"; }
.preview kbd.key-backspace::before    { content: "backspace"; }
.preview kbd.key-delete::before       { content: "remove"; }
.preview kbd.key-insert::before       { content: "arrow_insert"; }
.preview kbd.key-caps-lock::before    { content: "keyboard_capslock"; }
.preview kbd.key-print-screen::before { content: "screenshot_keyboard"; }
.preview kbd.key-fn::before           { content: "functions"; }

/* Banner/Header */
.preview .meta-container {
    width: 100%;
    margin: 0 auto 80px auto;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    background: none;
    border-radius: 0;
    overflow: visible;
}

.preview .banner-container {
    width: 100%;
    position: relative;
    z-index: 1;
}

.preview .banner-container .banner {
    width: 100%;
    aspect-ratio: 16/4;
    object-fit: cover;
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: none;
    transition: all .3s, margin-left 0;
    user-select: none;
    pointer-events: none;
}

.preview .info-container {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    margin-top: -48px;
    padding: 0 24px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    transition: all .3s;
}

.preview .info-container .info-content {
    position: relative;
    background: var(--background-color-2);
    border: 1px solid var(--border-light-color);
    box-shadow: var(--shadow);
    transition: all .3s, background-color 0s, border 0s, box-shadow 0s;
    border-radius: 16px;
    padding: 12px 20px;
    width: 900px;
    max-width: 90vw;
}

.preview .info-container .row {
    display: flex;
    gap: 18px;
    pointer-events: auto;
}

.preview .icon-container {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 56px;
    min-width: 40px;
    min-height: 40px;
    max-width: 72px;
    max-height: 72px;
    aspect-ratio: 1/1;
    border-radius: 12px;
    overflow: hidden;
    background: var(--background-color-2);
}

.preview .icon-container .banner-icon, .preview .icon-container img.icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 12px;
    display: block;
    background: none;
    user-select: none;
    pointer-events: none;
}

.preview .icon-container .banner-emoji,
.preview .icon-container .icon {
    font-size: 2.5rem;
    line-height: 1.35;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    user-select: none;
    pointer-events: none;
}

.preview .icon-container .icon {
    max-width: 1ch;
    overflow: hidden;
}

.preview .icon-container .icon.color-pink   { color: var(--quote-pink)   !important; }
.preview .icon-container .icon.color-purple { color: var(--quote-purple) !important; }
.preview .icon-container .icon.color-blue   { color: var(--quote-blue)   !important; }
.preview .icon-container .icon.color-green  { color: var(--quote-green)  !important; }
.preview .icon-container .icon.color-yellow { color: var(--quote-yellow) !important; }
.preview .icon-container .icon.color-orange { color: var(--quote-orange) !important; }
.preview .icon-container .icon.color-red    { color: var(--quote-red)    !important; }

.preview .text-container {
    flex: 1 1 auto;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.preview .text-container .title {
    font-family: var(--font-title);
    color: var(--title-color);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    display: block;
    line-height: 1.2;
    transition: color .3s;
}

.preview .text-container .banner-meta-subtitle {
    margin-top: 6px;
    font-size: 0.95rem;
    color: var(--text-color);
    line-height: 1.2;
    word-break: break-word;
    transition: color .3s;
    display: flex;
    align-items: center;
    gap: 5px;
}

.preview .text-container .banner-meta-subtitle .tags .tag {
    display: inline-block;
    background-color: var(--quote-blue-bg);
    color: var(--text-color);
    padding: 2px 8px;
    border-radius: 8px;
    font-size: 0.85rem;
    margin-right: 6px;
    cursor: pointer;
    transition: filter .2s;
}

.preview .text-container .banner-meta-subtitle .tags .tag:nth-of-type(5n+1) { background-color: var(--quote-blue-bg); color: var(--quote-blue) }
.preview .text-container .banner-meta-subtitle .tags .tag:nth-of-type(5n+2) { background-color: var(--quote-green-bg); color: var(--quote-green) }
.preview .text-container .banner-meta-subtitle .tags .tag:nth-of-type(5n+3) { background-color: var(--quote-yellow-bg); color: var(--quote-yellow) }
.preview .text-container .banner-meta-subtitle .tags .tag:nth-of-type(5n+4) { background-color: var(--quote-red-bg); color: var(--quote-red) }
.preview .text-container .banner-meta-subtitle .tags .tag:nth-of-type(5n)   { background-color: var(--quote-purple-bg); color: var(--quote-purple) }

.preview .text-container .banner-meta-subtitle .tags .tag::before { content: "# "}

.preview .text-container .banner-meta-subtitle .tags .tag:nth-of-type(5n+1)::before {color: var(--quote-blue) }
.preview .text-container .banner-meta-subtitle .tags .tag:nth-of-type(5n+2)::before {color: var(--quote-green) }
.preview .text-container .banner-meta-subtitle .tags .tag:nth-of-type(5n+3)::before {color: var(--quote-yellow) }
.preview .text-container .banner-meta-subtitle .tags .tag:nth-of-type(5n+4)::before {color: var(--quote-red) }
.preview .text-container .banner-meta-subtitle .tags .tag:nth-of-type(5n)::before   {color: var(--quote-purple) }

.preview .text-container .banner-meta-subtitle .tags .tag:hover {
    filter: brightness(1.3) saturate(1.3);
    box-shadow: var(--shadow-light);
    color: var(--text-color);
}

.preview .text-container .banner-meta-subtitle .tags .tag:hover::before {
    color: var(--text-color);
}

.description-container {
    width: 100%;
    margin-top: -48px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    transition: all .3s;
    overflow: hidden;
}

.description-container .description {
    transition: all .3s;
    width: 900px;
    max-width: 90vw;
}

@media (max-width: 700px) {
    .preview .meta-container {
        width: 100vw;
        max-width: 100vw;
        margin-left: 0;
        margin-top: -15px;
        margin-bottom: 0;
        box-sizing: border-box;
        margin-inline: -15px;
    }

    .preview .banner-container .banner {
        max-height: 40vh;
        min-height: 200px;
        width: 100%;
        object-fit: cover;
        object-position: center top;
        border-radius: 0;
        filter: brightness(0.75);
        aspect-ratio: 16/9;
        display: block;
        box-sizing: border-box;
        margin: 0;
    }

    .preview .banner-container .emoji-banner {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 250% !important;
    }

    .preview .info-container {
        margin-top: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 16px;
        min-height: 200px;
    }

    .preview .info-container .info-content {
        background: none;
        box-shadow: none;
        padding: 0;
        width: 100%;
        max-width: 100vw;
        border: none;
    }

    .preview .info-container .row {
        flex-direction: column;
        align-items: stretch;
        gap: 8px;
    }

    .preview .icon-container {
        border: 1px solid var(--border-light-color);
    }

    .preview .text-container .title {
        font-size: 1.25rem;
    }

    .preview .text-container .title,
    .preview .text-container .banner-meta-subtitle {
        color: white;
        text-shadow: 0 2px 8px rgba(0,0,0,0.5);
        display: block;
    }

    .preview .text-container .banner-meta-subtitle .tags .tag {
        margin-top: 8px;
        background-color: var(--background-color) !important;
        text-shadow: none;
    }

    .description-container {
        margin-top: 0px;
    }
}

.preview .comment {
    display: inline-block;
    background-color: var(--background-color-2);
    color: var(--text-color);
    padding: 2px 8px;
    border-radius: 8px;
    font-size: 0.85rem;
    margin: 0 2px;
    position: relative;
}