.prompt-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    animation: blackout 0.5s ease-in-out forwards;
}

@keyframes blackout {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }

    100% {
        background-color: rgba(0, 0, 0, 0.3);
    }
}

.prompt-dialog {
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 20px;
    border: 1px solid var(--border-light-color);
    border-radius: 15px;
    width: 300px;
    animation: showdialog 0.5s ease-in-out forwards;
    box-shadow: var(--shadow);
}

@keyframes showdialog {
    0% {
        transform: scale(0);
    }

    60% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.prompt-title {
    margin-bottom: 15px;
}

.prompt-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.prompt-dialog input {
    background: var(--field-color);
    color: var(--text-color);
    width: calc(100% - 40px);
    height: 35px;
    padding: 0px 20px;
    margin-bottom: 15px;
    border: 1px solid var(--border-field-color);
    outline: none;
    border-radius: 15px;
}

.prompt-dialog select {
    width: 100%;
    height: 35px;
    border-radius: 15px;
    border: 1px solid var(--border-field-color);
    background: var(--field-color);
    color: var(--text-color);
    margin-bottom: 15px;
    padding: 0px 10px;
    outline: none;
}

.prompt-buttons {
    display: flex;
    gap: 10px;
}

.prompt-button {
    padding: 5px 30px;
    border-radius: 15px;
    cursor: pointer;
    color: var(--text-color);
    border: 1px solid var(--border-light-color);
    background-color: transparent;
}

.prompt-button.submit {
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
    color: var(--button-color-2);
}

.table-selector-dialog {
    display: grid;
    grid-template-columns: repeat(6, 30px);
    grid-template-rows: repeat(4, 30px);
    gap: 4px;
    padding: 10px;
    justify-content: center;
    perspective: 800px;
}

.table-item-ex {
    background: var(--field-color);
    cursor: pointer;
    border-radius: 3px;
    transition: 0.3s;
    border: 1px solid var(--border-field-color);
    transition: border 0s, background 0s 0.2s, transform 0.5s, border-radius 0.5s;
}

.table-item-ex.highlighted {
    background: var(--highlight-color);
    border: 0;
    transform: rotateY(180deg);
}

.table-selector-dialog>.table-item-ex:first-child {
    border-top-left-radius: 10px;
}
.table-selector-dialog>.table-item-ex.highlighted:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 10px;
}

.table-selector-dialog>.table-item-ex:nth-child(6) {
    border-top-right-radius: 10px;
}
.table-selector-dialog>.table-item-ex.highlighted:nth-child(6) {
    border-top-right-radius: 3px;
    border-top-left-radius: 10px;
}

.table-selector-dialog>.table-item-ex:nth-child(19) {
    border-bottom-left-radius: 10px;
}
.table-selector-dialog>.table-item-ex.highlighted:nth-child(19) {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 10px;
}

.table-selector-dialog>.table-item-ex:nth-child(24) {
    border-bottom-right-radius: 10px;
}
.table-selector-dialog>.table-item-ex.highlighted:nth-child(24) {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 10px;
}

.prompt-dialog div.center {
    display: block;
    text-align: center;
    justify-content: center;
}

.prompt-dialog hr {
    border: 0;
    border-bottom: 1px solid var(--border-light-color);
    width: 75%;
}

.prompt-dialog a {
    color: var(--link-color);
    display: inline-flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.prompt-dialog a:hover {
    text-decoration: underline;
}