.CodeMirror-hints {
  position: absolute;
  z-index: 1000;
  overflow: hidden;
  list-style: none;

  margin: 0;
  padding: 0;

  box-shadow: var(--shadow);
  border-radius: 15px;
  /* border: 1px solid var(--border-light-color); */

  background: var(--background-color-2);
  font-size: normal;
  font-family: var(--font-editor);

  max-height: 20em;
  overflow-y: auto;
  box-sizing: border-box;
}

.CodeMirror-hint {
  margin: 0;
  padding: 5px 10px;
  white-space: pre;
  color: var(--button-color);
  cursor: pointer;
  transition: none;
}

.CodeMirror-hint:hover {
  background-color: var(--hover-color);
  text-decoration: underline;
}

li.CodeMirror-hint-active {
  background: var(--highlight-color) !important;
  color: var(--button-color-2);
}

.CodeMirror-hints .menu-title {
    font-weight: bold;
    color: #888;
    cursor: default;
    pointer-events: none;
    border-bottom: 1px solid #ddd;
}